<footer class="footer ">

    <div class="footer_container container">
        <div class="footer_content">
            <h2>
                Успей купить!
            </h2>

            <p>
                Подпишись и успей словить все акции
            </p>
        </div>

        <form class="footer_form js_subscribe-form">
            <div class="footer_form-top">
                <div class="form-group">
                    <label for="Email"></label>
                    <input type="email" name="Email" id="Email" class="form-control"  placeholder="Email">
                </div>
    
                <button type="submit" class="btn">
                    Подписаться
                </button>  
            </div>

            <div class="footer_form-bottom">
                                  
                <label class="custom-checkbox">
                    <input type="checkbox" value="yes">
                    <span>Подписаться на новости</span>
                </label>
            </div>
        </form>
    </div>

</footer>