<header class="header" id="header">
  <div class="container header_container">
    <div class="header_top">

      <a href="#" class="header_top-logo">
        <img src="./images/logo.svg" alt="Logo">
      </a>

      <ul class="header_top-menu">
        <li>
          <span></span>
        </li>
        <li>
          <ul>
            <li>
              <a href="#">
                Main
              </a>
            </li>
            <li>
              <a href="#">
                Gallery
              </a>
            </li>
            <li>
              <a href="#">
                News
              </a>
            </li>
            <li>
              <a href="#">
                Profile
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="header_top-contacts">
        <a href="tel:+544349000000">+544 3490 00000</a>
        <p>
          Звони скорее!
        </p>
      </div>
    </div>

    <div class="header_bottom">
      <h1>
        Найдено 349 котов
      </h1>
    </div>
  </div>
</header>