

    <section class="choice js_choice">

        <div class="choice_container container">
            
            <div class="choice_header js_choice_header">

                <p>
                    <strong>
                        Сортировать по:
                    </strong>
                </p>

                <p class="choice_header-btn">
                    Цене
                </p>

                <p class="choice_header-btn">
                    Возрасту
                </p>
    
            </div>
    
            <div class="choice_main js_choice_header">

                <div class="choice_main-card">

                    <div class="choice_main-card--header">

                        <img src="./images/img_2.jpg" alt="Cat">

                        <span class="choice_card-discount">
                            -40%
                        </span>

                        <div class="choice_card-like js_choice_card-like">
                            <img src="./images/svg/icon-like.svg" alt="Like">
                        </div>

                    </div>


                    <div class="choice_main-card--main">

                        <h3>
                            Кот полосатый
                        </h3>

                        <ul>

                            <li>
                                Коричневый окрас
                            </li>

                            <li>
                                <span>
                                    2 мес.
                                </span>

                                Возраст
                            </li>

                            <li>
                                <span>
                                    4
                                </span>

                                Кол-во лап
                            </li>

                        </ul>

                        <p>
                            5 000 руб.
                        </p>

                    </div>


                    <div class="choice_main-card--footer">

                        <div class="btn">
                            Купить
                        </div>

                    </div>

                </div>

                <div class="choice_main-card js_sold">

                    <div class="choice_main-card--header">

                        <img src="./images/img_3.jpg" alt="Cat">

                        <div class="choice_card-like js_choice_card-like">
                            <img src="./images/svg/icon-like.svg" alt="Like">
                        </div>

                    </div>


                    <div class="choice_main-card--main">

                        <h3>
                            Кот полосатый
                        </h3>

                        <ul>

                            <li>
                                Коричневый окрас
                            </li>

                            <li>
                                <span>
                                    2 мес.
                                </span>

                                Возраст
                            </li>

                            <li>
                                <span>
                                    4
                                </span>

                                Кол-во лап
                            </li>

                        </ul>

                        <p>
                            20 000 руб.
                        </p>

                    </div>


                    <div class="choice_main-card--footer">

                        <div class="btn">
                            Продан
                        </div>

                    </div>

                </div>

                <div class="choice_main-card">

                    <div class="choice_main-card--header">

                        <img src="./images/img_1.jpg" alt="Cat">

                        <div class="choice_card-like js_choice_card-like js_active">
                            <img src="./images/svg/icon-like.svg" alt="Like">
                        </div>

                    </div>


                    <div class="choice_main-card--main">

                        <h3>
                            Кот полосатый
                        </h3>

                        <ul>

                            <li>
                                Коричневый окрас
                            </li>

                            <li>
                                <span>
                                    2 мес.
                                </span>

                                Возраст
                            </li>

                            <li>
                                <span>
                                    4
                                </span>

                                Кол-во лап
                            </li>

                        </ul>

                        <p>
                            15 000 руб.
                        </p>

                    </div>


                    <div class="choice_main-card--footer">

                        <div class="btn">
                            Купить
                        </div>

                    </div>

                </div>

                <div class="choice_main-card">

                    <div class="choice_main-card--header">

                        <img src="./images/img_2.jpg" alt="Cat">

                        <div class="choice_card-like js_choice_card-like">
                            <img src="./images/svg/icon-like.svg" alt="Like">
                        </div>

                    </div>


                    <div class="choice_main-card--main">

                        <h3>
                            Кот полосатый
                        </h3>

                        <ul>

                            <li>
                                Коричневый окрас
                            </li>

                            <li>
                                <span>
                                    2 мес.
                                </span>

                                Возраст
                            </li>

                            <li>
                                <span>
                                    4
                                </span>

                                Кол-во лап
                            </li>

                        </ul>

                        <p>
                            30 000 руб.
                        </p>

                    </div>


                    <div class="choice_main-card--footer">

                        <div class="btn">
                            Купить
                        </div>

                    </div>

                </div>

                <div class="choice_main-card">

                    <div class="choice_main-card--header">

                        <img src="./images/img_1.jpg" alt="Cat">

                        <span class="choice_card-discount">
                            -40%
                        </span>

                        <div class="choice_card-like js_choice_card-like">
                            <img src="./images/svg/icon-like.svg" alt="Like">
                        </div>

                    </div>


                    <div class="choice_main-card--main">

                        <h3>
                            Кот полосатый
                        </h3>

                        <ul>

                            <li>
                                Коричневый окрас
                            </li>

                            <li>
                                <span>
                                    2 мес.
                                </span>

                                Возраст
                            </li>

                            <li>
                                <span>
                                    4
                                </span>

                                Кол-во лап
                            </li>

                        </ul>

                        <p>
                            40 000 руб.
                        </p>

                    </div>


                    <div class="choice_main-card--footer">

                        <div class="btn">
                            Купить
                        </div>

                    </div>

                </div>
    

                <div class="choice_main-card js_sold">

                    <div class="choice_main-card--header">

                        <img src="./images/img_3.jpg" alt="Cat">

                        <div class="choice_card-like js_choice_card-like ">
                            <img src="./images/svg/icon-like.svg" alt="Like">
                        </div>

                    </div>


                    <div class="choice_main-card--main">

                        <h3>
                            Кот полосатый
                        </h3>

                        <ul>

                            <li>
                                Коричневый окрас
                            </li>

                            <li>
                                <span>
                                    2 мес.
                                </span>

                                Возраст
                            </li>

                            <li>
                                <span>
                                    4
                                </span>

                                Кол-во лап
                            </li>

                        </ul>

                        <p>
                            80 000 руб.
                        </p>

                    </div>


                    <div class="choice_main-card--footer">

                        <div class="btn">
                            Продан
                        </div>

                    </div>

                </div>
            </div>
    
            <div class="choice_footer">
                <button type="button" class="btn btn-empty">
                    Показать еще 20
                </button>
            </div>

        </div>

    </section>