.container {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $xl) {
    max-width: 960px;
  }

  @media (max-width: $lg) {
    max-width: 640px;
  }
  @media (max-width: $md) {
    max-width: calc(100% - 30px);
  }
}
