.messaage {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  text-align: center;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  width: 350px;
  overflow: hidden;
  @media (max-width: 640px){
    width: 200px;
  }

  p {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: $blue;
    color: $white;
    width: 100%;
    z-index: 1000;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: inset 0 0 8px 4px rgba($black, 0.4);
    border-radius: 10px;
    position: relative;
    display: block;
    &:last-of-type {
      margin-top: 0;
    }

    @media (max-width: 640px){
      font-size: 14px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin-top: 8px;
    }
  }
}
