.scroll_top {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: darken($grey, 15%);
  transition: 0.4s ease;
  cursor: pointer;
  position: fixed;
  left: 5px;
  bottom: -150px;
  display: block;
  z-index: 1000;

  &:hover {
    background-color: darken($grey, 25%);
  }
  &:active {
    transition: 0s;
    background-color: darken($grey, 50%);
  }

  &.js_active {
    bottom: 5px;
  }

  img {
    width: 40px;
    height: 40px;
    transform: scale(1, -1);
    margin-top: -3px;

    @media (max-width: $md) {
      width: 20px;
      height: 20px;
    }

    @media (max-width: $xs) {
      width: 25px;
      height: 25px;
    }
  }

  @media (max-width: $md) {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  @media (max-width: $xs) {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
